.sobreContainer{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.sobreContainer h1{
    text-align: center;
    font-size: 3em;
}

.sobreContainer span{
    color: #0B37D1;
    font-style: italic;
}

.sobreContainer p{
    margin: 0 auto;
    text-align: center;
    font-size: 1.2em;
    max-width: 800px;
}

.sobreContainer h2{
    color: #0B37D1;
    font-weight: normal;
    font-style: italic;
}

.sobreContainer a{
    color: white;
    border-radius: 10px;
    font-size: 1.2em;
    padding: 10px;
    background: #0B37D1;
    text-decoration: none;
    transition: .2s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.creditos{
    width: 50%;
    height: 20%;
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.creditos .btnCreditos{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.btnCreditos a img{
    width: 30px;
    height: 30px;
}

.sobreContainer a:hover{
    background: #1d43cc;
    transition: .2s;
}