.homeContainer{
    max-width: 100%;
    height: 100%;

}

 
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #4a4a4a;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:active {
    background: #b1b1b1;
    border-radius: 10px;
  }

.homeContainer .postsContainer{
    width: 100%;
    height: 92%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
    padding: 20px 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.11);
    overflow-y: scroll;
    position: relative;
    z-index: 999;
}

.userName{
    display: flex;
    align-items: center;
    gap: 1em;
}

.userName img{
    width: 25px;
    height: 25px;
    border: 1px solid rgba(255, 255, 255, 0.199);
    padding: 2px;
    border-radius: 50%;
}

.postsContainer > .postCard{
    width: 80%;
    min-height: auto;
    background: #474747;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.3);
    border-radius: 20px;
    padding: 20px;
    transition: .2s;
    z-index: -1;
    position: relative;
}

.postCard .postContent{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.postText > img{
    min-width: 100%;
    max-height: 500px;
    object-fit: contain;
    border-radius: 10px;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
}

.postContent .postText p{
    font-size: 1.2em;
    overflow: hidden;
   display: -webkit-box;
}

.postContent .postText h2{
    font-size: 1.5em;
}

.postContent .postText{
    display: flex;
    flex-direction: column;
    gap: 1em;
   
}


.postCard:hover{
    background: #535353;
    transition: .2s;
}